#left-nav{
  height:600px;
  margin-top:-20px;
  padding:20px;
  border-right:solid 1px #eee;
  font-size:20px;
}
#left-nav h2{text-align:center;}

#center-article{
  height:600px;
  margin-top:-20px;
  padding:20px;
  border-right:solid 1px #eee;
}
#center-article h2,p{text-align:center;}
#vod{
  margin-left:10%;
  margin-top : 20px;
  margin-bottom : 20px;
}

#right-aside{
  height:100%;
  margin-top:-20px;
  padding:20px;
}
#sub-title{
  font-size:15px;
}
a:link{text-decoration:none; color:#000;}
a:visited{text-decoration:none;color:#000;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
