BODY,TH,TD,SELECT {
	color:#606060;
	font-size:9pt;
	font-family:µ¸¿ò,Dotum,Sans serif;
}
FORM {
	margin:0; padding:0;
}

a:link {color: #52A222;text-decoration:none;} 
a:active {color:#000000;text-decoration:none;}
a:visited {color:#52A222;text-decoration:none;}
a:hover {color:#000000;text-decoration:none;}


INPUT.box {
	border:1px solid #CCCCCC;
	font-size:9pt;
	font-family:µ¸¿ò,Dotum,Sans serif;
}
INPUT.bttn {
	color:white;
	border:1px solid black;
	background-color:#606060;
	font-size:9pt;
	font-family:µ¸¿ò,Dotum,Sans serif;
}
IMG { border:0px }

/* paging style */
.gony_currpage {
	color:#FF0000;
	font-weight:bold;
}